::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(71, 70, 70, 0.3);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #5c6860,
    #5b6c61
  );
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #4ade80,
    #22c55e
  );
}


.RemoveScollbar::-webkit-scrollbar {
  display: none;
}