.text-3d-neon {
  font-size: 40px;
  font-weight: 900;
  color: rgb(210, 220, 224);
  text-shadow:
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
  animation: neonPulse 2s infinite alternate;
}

@keyframes neonPulse {
  0% {
    text-shadow:
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 40px rgb(134, 77, 91);
  }
  100% {
    text-shadow:
      0 0 20px #0ff,
      0 0 50px #0ff,
      0 0 100px rgb(129, 160, 91);
  }
}
